Package: apache-drill-geoip
Version: [[project.version]]-[[buildTimestamp]]
Section: misc
Priority: optional
Architecture: all
Maintainer: name <>
Description: CS Apache Drill Geoip functions
Distribution: development
